.label{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;   
}

.input{
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: .2rem;
    background-color: whitesmoke;
    border: none;
    border-top: 3.7px solid var(--brand-color_12);
    border-right: 2px solid var(--brand-color_12);
    border-bottom: 2px solid var(--brand-color_12);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1rem;
    height: 29px;
}