:root {
    --font-size: 1rem;
    --font-size-link: 0.8rem;
    --font-fam: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    --theme--contrast-0: #444444;
    --theme-body-bg: #2F4858;
    --theme-body-txt: #f3f3f3;
    --theme-title: #ffffff;
    --search-size-mx-h: 3rem;
    --skeletons-color: hsla(203, 18%, 65%, 0.164);
    --skeleton-contraste: hsla(202, 20%, 65%, 0.253);
    --zIndex-header: 20;
    --zIndex-component: 5;
    --brand-color_1: #00ff99;
    --brand-color_2: #00DBAD;
    --brand-color_3: #00B6B1;
    --brand-color_4: #0090A2;
    --brand-color_5: #006A82;
    --brand-color_6: #2F4858; 
    --brand-color_7: #00ccff;
    --brand-color_8: #0099ff;
    --brand-color_9: #f54747;
    --brand-color_10: #f8f524;
    --brand-color_11: #f1a752;
    --brand-color_12: rgba(20, 4, 236, 0.5);
    --brand-color_13: rgba(146, 9, 9, 0.9);
    --brand-color_14: rgba(37, 142, 156, 0.719);


  }
  
  html {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .root-container{
    background-color: var(--theme-body-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


